
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Teko:wght@400;500&display=swap');

body{
    background-image:url(/imgs/bg.png);
    background-repeat: repeat;
    color: black;
    
    }
    #vacio{
        position:absolute; 
        top:2px; 
        left:37%;
        filter: drop-shadow(0 2px 5px rgb(255, 255, 255));
        z-index: 1000;
    }
    #vacio img{
        width: 300px;
    }

    .pokeSearch{
        font-family: Poppins;
        text-transform: capitalize;
        font-weight: bolder;
        background-color: rgba(65, 95, 165, 0.9);
        border-radius:48px ;
        padding:2%;
        margin: 3% 31%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .custom-text-field {
        margin-bottom: 16px;
        background-color: #415FA5;
       /*color:#FFCB05; */
        color: #ff8c00;
        font-weight: bolder;
    }
    /* .active-text-field {
        background-color: red; 
        color: white;
      }
     */

    .custom-select{
        background-color: #415FA5;
        color: #ff8c00;
        font-weight: bolder;
        
    }

    .custom-select >>> .v-select__selections {
        border: 2px solid red;
        border-radius: 4px;
        background-color: #EFEFEF;
        color: #333333;
        padding: 8px;
      }
      
      .custom-select >>> .v-list-item {
        /* Estilos personalizados para los elementos de la lista desplegable */
        color: red;
      }
      
      .custom-select >>> .v-list-item--active {
        /* Estilos personalizados para el elemento activo en la lista desplegable */
        background-color: #8d11e7;
        color: #b71010;
      }
